@import "tailwindcss";

/* Design tokens */
:root {
  --background: #F5F7FA;
  --foreground: #0B0F14;

  --primary: #D7263D;
  --secondary: #243062;

  --success: #16A34A;
  --warning: #F59E0B;
  --danger: #DC2626;
}

/* Dark mode (opsional) */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B0F14;
    --foreground: #F5F7FA;
  }
}

body {
  
}

